/* _pages.scss */
.login-wrap { 
  width: 100%;
  max-width: 1200px;
  margin:0 auto;
  .box-basic {
    width: 100%;
    max-width:500px;
    margin:120px auto 0;
    text-align: center;
  }
  .textbox { 
    display: inline-block;
    width: 100%;
    margin: 10px 0;
  }
  .btn-point {
    margin: 18px 0 0;
  }
}