@charset "UTF-8";
/* _reset.scss */

html, body, h1, h2, h3, h4, h5, h6, div, img, p, span, i, em, a, strong, blockquote, dl, dt, dd, ul, li, ol { 
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-weight: inherit;
    border:0;
}