@charset "UTF-8";
/* _variables.scss */
$G-color-main: #ff950b;
$G-color-main2: #fff7ee;
$G-color-point: #f78d03;
$G-color-sub: #888;
$G-font-color-basic: #333;
$G-border-color-basic: #111;
$G-font-family-base: 'Noto Sans KR', Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;